<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 mb-12">
            <!-- Nav tabs -->
            <tabset>
                <tab heading="Departamentos">
                    <app-departamentos></app-departamentos>
                </tab>
                <tab heading="Ciudades">
                    <app-ciudades></app-ciudades>
                </tab>
                <tab heading="Tipos de Identificación">
                    <app-identificaciontipos></app-identificaciontipos>
                </tab>
            </tabset>
        </div>
    </div>
</div>