<div class="card">
    <div class="card-header">
      <h5 class="card-title">Agregar Vehiculo</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="vehiculoForm">
            <div class="input-group mb-3" hidden>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Id Vehiculo:</span>
                </div>
                <input type="number" class="form-control" formControlName="IDVehiculo" value="" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Propietario</label>
                </div>
                <select formControlName="IDPropietario" class="custom-select"  >
                    
                    <option *ngFor="let propietario of propietarios" [ngValue]="propietario.IDPropietario">
                        {{propietario.Documento }} -  {{propietario.Apellidos }}   {{propietario.Nombres }}
                      </option>
                </select>
            
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Placa:</span>
                  </div>
                  <input type="text" class="form-control" formControlName="Placa" value="" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Vehiculo Marca</label>
                </div>
                <select formControlName="IDVehiculoMarca" class="custom-select"  >
                    
                    <option *ngFor="let vehiculomarca of vehiculomarcas" [ngValue]="vehiculomarca.IDVehiculoMarca">
                        {{vehiculomarca.VehiculoMarca }}
                      </option>
                </select>
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Vehiculo Referencia</label>
                </div>
                <select formControlName="IDVehiculoReferencia" class="custom-select"  >
                    
                    <option *ngFor="let vehiculoreferencia of vehiculoreferencias" [ngValue]="vehiculoreferencia.IDVehiculoReferencia">
                        {{vehiculoreferencia.VehiculoReferencia }}
                      </option>
                </select>
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Vehiculo Tipo</label>
                </div>
                <select formControlName="IDVehiculoTipo" class="custom-select"  >
                    
                    <option *ngFor="let vehiculotipo of vehiculotipos" [ngValue]="vehiculotipo.IDVehiculoTipo">
                        {{vehiculotipo.VehiculoTipo }}
                      </option>
                </select>
            </div>
            <button *ngIf="btn_add" class="btn btn-outline-primary" [disabled]="!vehiculoForm.valid"
              (click)="save()">Agregar</button>
            <button *ngIf="btn_update" class="btn btn-outline-primary" [disabled]="!vehiculoForm.valid"
              (click)="update()">Actualizar</button>
            <button class="btn btn-outline-primary" (click)="cancel()">Cancelar</button>
          </form>
    </div>
  </div>
  
  
  
  <div class="card">
    <div class="card-header">
  
      <h5 class="card-title">Listado de Vehiculos </h5>
  
    </div>
    <div class="card-body">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Filtro</span>
        </div>
        <input matInput (keyup)="applyFilter($event.target.value)" type="text" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm">
      </div>
  
  
  
      <div class="table-responsive-sm">
  
        <table class="table table-borderless " mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" 
            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar. </th>
                <td mat-cell *matCellDef="let Vehiculo" id="ee" (click)="onRowClicked(Vehiculo)"> <img src="../../../../assets/editar.png" ng-click="select(1)"> </td>
              </ng-container>-->
          <!-- Position Column 
      <ng-container matColumnDef="salida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Salida. </th>
        <td mat-cell *matCellDef="let Vehiculo" id="ee" (click)="salida(Vehiculo)"> <img src="../../../../assets/editar.png" ng-click="salida(1)"> </td>
      </ng-container>-->
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar. </th>
            <td mat-cell *matCellDef="let Vehiculo" id="ee" (click)="onRowClicked(Vehiculo)"> <img
                src="../../../../assets/editar.png" ng-click="select(1)"> </td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="IDVehiculo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let Vehiculo">{{Vehiculo.IDVehiculo}}</td>
          </ng-container>
          
          <ng-container matColumnDef="Placa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Placa </th>
            <td mat-cell *matCellDef="let Vehiculo">{{Vehiculo.Placa}}</td>
          </ng-container>
          <ng-container matColumnDef="Nombres">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Propietario Nombres </th>
            <td mat-cell *matCellDef="let Vehiculo">{{Vehiculo.Propietario.Nombres}}</td>
          </ng-container>
          <ng-container matColumnDef="Apellidos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Propietario Apellidos </th>
            <td mat-cell *matCellDef="let Vehiculo">{{Vehiculo.Propietario.Apellidos}}</td>
          </ng-container>
          <ng-container matColumnDef="Marca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
            <td mat-cell *matCellDef="let Vehiculo">{{Vehiculo.VehiculoReferencia.VehiculoMarca}}</td>
          </ng-container>
          <ng-container matColumnDef="Referencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Referencia </th>
            <td mat-cell *matCellDef="let Vehiculo">{{Vehiculo.VehiculoReferencia.VehiculoReferencia}}</td>
          </ng-container>
          <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let Vehiculo">{{Vehiculo.VehiculoTipo.VehiculoTipo}}</td>
          </ng-container>
          
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let Vehiculo; columns: displayedColumns;"></tr>
        </table>
  
      </div>
    </div>
  </div>
