<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 mb-12">
            <!-- Nav tabs -->
            <tabset>
                <tab heading="Tipos">
                    <app-prestadortipos></app-prestadortipos>
                </tab>
                <tab heading="planes">
                    <app-prestadorplanes></app-prestadorplanes>
                </tab>
                <tab heading="Especialidades">
                    <app-especialidades></app-especialidades>
                </tab>
                <tab heading="Servicios">
                    <app-servicios></app-servicios>
                </tab>
                <tab heading="Tarifas">
                    <app-tarifas></app-tarifas>
                </tab>
                <tab heading="Vigencia de Tarifas">
                    <app-tarifavigencias></app-tarifavigencias>
                </tab>
                <tab heading="Tarifas IPS">
                    <app-tarifavigencias></app-tarifavigencias>
                </tab>
            </tabset>
        </div>
    </div>
</div>
