<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 mb-12">
            <!-- Nav tabs -->
            <tabset>
                <tab heading="Tipos">
                    <app-prestadortipos></app-prestadortipos>
                </tab>
                <tab heading="planes">
                    <app-prestadorplanes></app-prestadorplanes>
                </tab>
                <tab heading="Especialidades">
                    <app-especialidades></app-especialidades>
                </tab>
            </tabset>
        </div>
    </div>
</div>
