// Here you can add other styles
.foto{
    width: 80px;
    border-radius: 80px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.mat-cell {
    padding: 0;
    border-bottom-style: none !important;
    vertical-align: middle !important;
}
.mat-row:nth-child(even){
    background-color: aliceblue;
    margin-top: 5px;

  }

 .hightlight{
    background-color: yellow;
 } 
