// Here you can add other styles
.foto{
    width: 80px;
    border-radius: 80px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.mat-cell {
    padding: 0;
    border-bottom-style: none !important;
    vertical-align: middle !important;
}
.mat-row:nth-child(even){
    background-color: aliceblue;
    margin-top: 5px;

  }

 .hightlight{
    background-color: yellow;
 } 
 #toast-container > .toast-success {
   
    background-color: #45a7bc;
    color: rgb(242, 246, 248);
}
#toast-container > .toast-error {
   
    background-color: red;
    color: #e9e9e9;
}
 /* this will set the toastr icon */
 #toast-container > .toast-custom {
    content: "\f00C";
}
/* this will set the toastr style */
.toast-custom {
    background-color: purple;
}