table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }

.validator{
    color:#f31111;
 }

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}