<div #target></div>
<div class="card">
    <div class="card-header">
      <h5 class="card-title">Agregar Prestador</h5>
      <button *ngIf="btn_add" class="btn btn-outline-primary" [disabled]="!prestadorForm.valid"
      (click)="maillingInvoiceModal.show()">Cargue masivo </button>
      
    </div>
    <div class="card-body">
      <form [formGroup]="prestadorForm">
        <div class="input-group mb-3" hidden>
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Id Prestador:</span>
          </div>
          <input type="text" class="form-control" formControlName="IDPrestador" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group mb-3" formGroupName="IdentificacionTipo">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Tipo Identificación: <span class="validator"> *</span></label>
          </div>
          <select formControlName="IDIdentificacionTipo" class="custom-select">
  
            <option *ngFor="let identificaciontipo of identificaciontipos" [ngValue]="identificaciontipo.IDIdentificacionTipo">
              {{identificaciontipo.IdentificacionTipo}}
            </option>
          </select>
          <div class="input-group mb-3" hidden>
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">IdentificacionTipo:</span>
            </div>
            <input type="text" class="form-control" formControlName="IdentificacionTipo" value="" aria-label="Small"
              aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group mb-3" hidden>
            <label class="switch switch-label switch-pill switch-info">
              <input type="checkbox" class="switch-input" formControlName="Active" [checked]="true">
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
          </div>
        </div>
        <div class="input-group mb-3" formGroupName="PrestadorTipo">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Tipo Prestador: <span class="validator"> *</span></label>
          </div>
          <select formControlName="IDPrestadorTipo" class="custom-select">
  
            <option *ngFor="let prestadortipo of prestadortipos" [ngValue]="prestadortipo.IDPrestadorTipo">
              {{prestadortipo.PrestadorTipo}}
            </option>
          </select>
        </div>
        <div class="input-group mb-3" formGroupName="Especialidad">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Especialidad: <span class="validator"> *</span></label>
          </div>
          <select formControlName="IDEspecialidad" class="custom-select">
  
            <option *ngFor="let especialidad of especialidades" [ngValue]="especialidad.IDEspecialidad">
              {{especialidad.Especialidad}}
            </option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Expediente: <span class="validator"> *</span></span>
          </div>
          <input type="number" class="form-control" formControlName="Expediente" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="input-group mb-3" formGroupName="Usuario">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Usuario: <span class="validator"> *</span></label>
          </div>
          <select formControlName="IDUsuario" class="custom-select">
  
            <option *ngFor="let usuario of usuarios" [ngValue]="usuario.IDUsuario">
              {{usuario.Email}}
            </option>
          </select>
        </div>
  
  
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Identificación: <span class="validator"> *</span></span>
          </div>
          <input type="number" class="form-control" formControlName="Identificacion" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">DV: <span class="validator"> *</span></span>
          </div>
          <input type="number" class="form-control" formControlName="DV" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
  
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Nombre o Razón Social: <span class="validator"> *</span></span>
          </div>
          <input type="text" class="form-control" formControlName="Nombre" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
  
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Fecha Comité: <span class="validator"> *</span></span>
          </div>
          <input type="date" class="form-control" formControlName="ComiteFecha" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Departamento: <span class="validator"> *</span> </label>
          </div>
          <select formControlName="IDDepartamento" class="custom-select" (change)="changeDepartamento()">
  
            <option *ngFor="let departamento of departamentos" [ngValue]="departamento.IDDepartamento">
              {{departamento.Departamento }}
            </option>
          </select>
        </div>
  
  
        <div class="input-group mb-3" formGroupName="Ciudad">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Ciudad: <span class="validator"> *</span></label>
          </div>
          <select formControlName="IDCiudad" class="custom-select">
  
            <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad.IDCiudad">
              {{ciudad.Ciudad}}
            </option>
          </select>
          <div class="input-group mb-3" hidden>
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Ciudad:</span>
            </div>
            <input type="text" class="form-control" formControlName="Ciudad" value="" aria-label="Small"
              aria-describedby="inputGroup-sizing-sm">
          </div>
  
          <div class="input-group mb-3" hidden>
            <label class="switch switch-label switch-pill switch-info">
              <input type="checkbox" class="switch-input" formControlName="Active" [checked]="true">
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
          </div>
        </div>

        <div class="input-group mb-3" formGroupName="Zonal">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Zonal: </label>
          </div>
          <input type="text" class="form-control" formControlName="IDZonal" value="" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm">
          <!--
          <select formControlName="IDZonal" class="custom-select">
  
            <option *ngFor="let zonal of zonales" [ngValue]="zonal.IDZonal">
              {{zonal.Zonal}}
            </option>
          </select>
          -->
          <div class="input-group mb-3" hidden>
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Zonal:</span>
            </div>
            <input type="text" class="form-control" formControlName="Zonal" value="" aria-label="Small"
              aria-describedby="inputGroup-sizing-sm">
          </div>
  
          <div class="input-group mb-3" hidden>
            <label class="switch switch-label switch-pill switch-info">
              <input type="checkbox" class="switch-input" formControlName="Activo" [checked]="true">
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
          </div>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Dirección Consultorio:</span>
          </div>
          <input type="text" class="form-control" formControlName="ConsultorioDireccion" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
          <div class="input-group-prepend">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Teléfono Consultorio:</span>
            </div>
            <input type="number" class="form-control" formControlName="ConsultorioTelefono" value="" aria-label="Small"
              aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Celular: <span class="validator"> *</span></span>
            </div>
            <input type="number" class="form-control" formControlName="Celular" value="" aria-label="Small"
              aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Servicios:</span>
          </div>
          <input type="text" class="form-control" formControlName="Servicios" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Tarifas:</span>
          </div>
          <input type="text" class="form-control" formControlName="Tarifas" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
  
        
  
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Email: <span class="validator"> *</span></span>
          </div>
          <input type="text" class="form-control" formControlName="Email" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
            <span class="validator"
              *ngIf="Email.errors?.pattern">
              El correo electrónico no tiene un formato válido
          </span>
           
              <label class="switch switch-label switch-pill switch-info">
                  <input type="checkbox" class="switch-input" formControlName="Activo" [checked]="true">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
          
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Email 2:</span>
          </div>
          <input type="text" class="form-control" formControlName="EmailOtro" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
            <span class="validator"
              *ngIf="EmailOtro.errors?.pattern">
                El correo electrónico no tiene un formato válido
          </span>
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Celular 2:</span>
          </div>
          <input type="number" class="form-control" formControlName="CelularOtro" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>


        <div class="input-group mb-3">
          
          
           
              <label class="switch switch-label switch-pill switch-info">
                  <input type="checkbox" class="switch-input" formControlName="Verificado" [checked]="true">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
          
        </div>
    <span class="validator"
        *ngIf="prestadorForm?.invalid ">
        Los campos con asterisco (*) son obligatorios
    </span>
    <div style="margin-top:1%;">
        <button *ngIf="btn_add" class="btn btn-outline-primary" [disabled]="!prestadorForm.valid"
          (click)="save()">Agregar</button>
        <button *ngIf="btn_update" class="btn btn-outline-primary" [disabled]="!prestadorForm.valid"
          (click)="update()">Actualizar</button>
        <button class="btn btn-outline-primary" (click)="cancel()">Cancelar</button>
    </div>
      </form>
    </div>
  </div>
  
  
  
  <div class="card">
    <div class="card-header">
  
      <h5 class="card-title">Listado de Prestadores </h5>
  
    </div>
    <div class="card-body">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Filtro</span>
        </div>
        <input matInput (keyup)="applyFilter($event.target.value)" type="text" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm">
      </div>
  
  
  
      <div class="table-responsive-sm">
  
        <table class="table table-borderless " mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" 
              <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar. </th>
                  <td mat-cell *matCellDef="let Prestador" id="ee" (click)="onRowClicked(Prestador)"> <img src="../../../../assets/editar.png" ng-click="select(1)"> </td>
                </ng-container>-->
          <!-- Position Column 
        <ng-container matColumnDef="salida">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Salida. </th>
          <td mat-cell *matCellDef="let Prestador" id="ee" (click)="salida(Prestador)"> <img src="../../../../assets/editar.png" ng-click="salida(1)"> </td>
        </ng-container>-->
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
            <td mat-cell *matCellDef="let Prestador" id="ee" (click)="onRowClicked(Prestador); scroll(target); "> 
              <img
                src="../../../../assets/editar.png" ng-click="select(1)"
                style="cursor: pointer;" 
                tooltip="Permite editar el prestador"
                placement="top"> 
            </td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="IDPrestador">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let Prestador">{{Prestador.IDPrestador}}</td>
          </ng-container>
  
          <ng-container matColumnDef="IdentificacionTipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Identificación </th>
            <td mat-cell *matCellDef="let Prestador">{{Prestador.IdentificacionTipo.IdentificacionTipo}}</td>
          </ng-container>
          <ng-container matColumnDef="Identificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </th>
            <td mat-cell *matCellDef="let Prestador">{{Prestador.Identificacion}}</td>
          </ng-container>
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre o Razón Social </th>
            <td mat-cell *matCellDef="let Prestador">{{Prestador.Nombre}}</td>
          </ng-container>
          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let Prestador">{{Prestador.Email}}</td>
          </ng-container>
          <ng-container matColumnDef="TelefonoContacto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
            <td mat-cell *matCellDef="let Prestador"><a href="https://wa.me/57{{Prestador.Celular}}" class="whatsapp"
                target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>{{Prestador.Celular}}</td>
          </ng-container>
          <ng-container matColumnDef="docs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Documentos </th>
            <td mat-cell *matCellDef="let Prestador" id="ee" (click)="docRequeridos(Prestador)"> <img
                src="../../../../assets/pdf.png" ng-click="select(1)"> </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let Prestador; columns: displayedColumns;"></tr>
        </table>
  
      </div>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div bsModal #maillingInvoiceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cargue de documentos</h4>
                <button type="button" class="close" (click)="maillingInvoiceModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
              <!DOCTYPE html>
              <html lang="en">
              
              <head>
                  <meta charset="UTF-8" />
                  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
                  <title>Document</title>
              </head>
              
              <body>
                  <form enctype="multipart/form-data" action="http://localhost:8080/bulkloadprestador" method="post">
                      <input type="file" name="myFile" />
                      <br>
                      <input type="submit" value="upload" />
                  </form>
              </body>
              
              </html>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="maillingInvoiceModal.hide()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
